<% flash.each do |type, message| %>
  <%# Map flash types to corresponding Tailwind CSS classes %>
  <% flash_class = case type
       when "notice" then "bg-green-50 text-green-800 border-green-200"
       when "alert" then "bg-red-50 text-red-800 border-red-200"
       else "bg-gray-50 text-gray-800 border-gray-200"
     end %>

  <div class="w-full border-b <%= flash_class %> py-3 px-4">
    <div class="container mx-auto max-w-5xl">
      <p class="text-center font-medium"><%= message %></p>
    </div>
  </div>
<% end %>
