<div class="flex justify-center space-x-4 text-gray-500">
	More Links
</div>

<ul class="flex justify-center space-x-4">
  <li class="inline-block">
    <%= link_to "Licensing", pages_licensing_path, class: "hover:text-white bg-teal-300" %>
  </li>
  <li class="inline-block">
    <%= link_to "Privacy", pages_privacy_path, class: "hover:text-white bg-teal-300" %>
  </li>
  <li class="inline-block">
    <%= link_to "Cookies", pages_cookies_path, class: "hover:text-white bg-teal-300" %>
  </li>
</ul>