<section class="text-gray-600 body-font">
  <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Cookies</h1>
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">This Site Does Not Use Cookies.</h1>
      <p class="mb-8 leading-relaxed">It is possible that your browser will save a cookie for this site, but only if you enable auto login and have your password saved within your browser settings. And, even then, no personal data beyond your login information will be stored in any way.</p>
  </div>
</section>

<%= render "shared/more_links"%>