<section class="text-gray-600 body-font">
  <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Licensing</h1>
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Please do not Reprint our Content Without Permission.</h1>
      <p class="mb-8 leading-relaxed">You may use the contact form to request permission to re-publish content from this site. All words and graphics on this website are property of Black Lake Media, all rights reserved, unless otherwise marked.</p>
		  
      <p class="mb-8 leading-relaxed">Promotional photos used here that were provided by the artists are the property of their respective owners, and are used solely for promotion of the artist. If you are the intellectual property owner of a promotional photo or graphic used at chillfiltr.com, and would like to remove your consent for its use, please just let us know.</p>
    </div>
  </div>
</section>

<%= render "shared/more_links"%>