<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">We Don't Have a Privacy Policy.</h1>
      <p class="mb-8 leading-relaxed">At the moment, this website is the result of years of effort from a single person. Beyond the small number of guest authors that we have had, of the thousands of posts online here, Krister Axel has written 99% of them.</p>
		  
      <p class="mb-8 leading-relaxed">Thus, the very concept of privacy is not particularly meaningful when there is only data from one active user.</p>
	  
	  <p class="mb-8 leading-relaxed">As this site develops, it is possible that we will add user memberships at which point we will take every necessary step to keep so-called 'PII' - personally identifiable information - encrypted and inaccessible to the public.</p>
			
      <p class="mb-8 leading-relaxed">Our logs are purged on a rolling basis every 30 days.</p>
    </div>
  </div>
</section>

<%= render "shared/more_links"%>