

<section class="text-gray-600 body-font">
	<h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">RADIO</h1>
  <div class="container px-5 py-8 mx-auto flex flex-wrap">
    <h2 class="sm:text-3xl text-2xl text-gray-900 font-medium title-font mb-2 md:w-2/5"><iframe width="300" height="614" frameborder="0" src="https://live365.com/embeds/v1/player/a80518?s=sm&m=light&c=mp3"></iframe></h2>
    <div class="md:w-3/5 md:pl-6">
      <p class="leading-relaxed text-base">
	  <iframe src="https://indierad.io/public/indieradio/history?theme=light" frameborder="0" allowtransparency="true" style="width: 100%; min-height: 750px; border: 0;"></iframe>
	  </p>
      <div class="flex md:mt-4 mt-6">
       <a class="mr-1 hover:text-gray-900"><%= link_to "Refresh", pages_radio_path, class: "block px-6 py-3 text-center bg-cyan-100 hover:bg-blue-500 hover:text-white rounded-lg" %></a>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
	  <p class="lg:w-2/3 mx-auto leading-relaxed text-base">If you want to support community radio <a href="https://weeklycatch.org" target="_blank">listen to the Weekly Catch</a> on KSKQ hosted by <a href="https://axel.me" target="_blank">Krister Axel</a>.</p>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">We are fully compliant with licensing requirements via <a class="hover:text-white bg-teal-300" href="https://live365.com/station/CHILLFILTR-Radio-a80518">Live365</a> for listeners in the US, Mexico, Canada, and UK.</p>
    </div><br/>
    <div class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">
      <div class="relative flex-grow w-full">
		<h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Other Ways to Listen</h1>
        <p><a href="https://music.apple.com/us/station/chillfiltr-radio/ra.1650033580" target="_blank">Apple Music</a></p><p><a href="https://radio.garden/listen/chillfiltr/oE3SP1d6" target="_blank">RadioGarden</a></p><p><a href="https://www.liveradio.ie/stations/chillfiltr" target="_blank">LiveRadio.ie</a><br/></p><p><a href="https://radio.streamitter.com/station/chillfiltr-6SAFX8" target="_blank">Streamitter</a><br/></p><p><a href="https://onlineradiobox.com/ca/chillfiltr/" target="_blank">OnlineRadioBox</a></p><p><a href="https://liveonlineradio.net/chillfiltr-radio" target="_blank">LiveOnlineRadio</a></p><p><a href="https://www.radio.net/s/chillfiltr" target="_blank">Radio.net</a></p><p><a href="https://www.radio.de/s/chillfiltr" target="_blank">Radio.de</a></p>
      </div>
    </div>
  </div>
</section>