

<section class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto flex flex-wrap">
    <h2 class="sm:text-3xl text-2xl text-gray-900 font-medium title-font mb-2 md:w-2/5"><iframe width="300" height="614" frameborder="0" src="https://live365.com/embeds/v1/player/a80518?s=sm&m=light&c=mp3"></iframe></h2>
    <div class="md:w-3/5 md:pl-6">
      <p class="leading-relaxed text-base">
	  <iframe src="https://indierad.io/public/indieradio/history?theme=light" frameborder="0" allowtransparency="true" style="width: 100%; min-height: 400px; border: 0;"></iframe>
	  </p>
      <div class="flex md:mt-4 mt-6">
       <a class="mr-1 hover:text-gray-900"><%= link_to "Refresh", pages_radio_path, class: "block px-6 py-3 text-center bg-cyan-100 hover:bg-blue-500 hover:text-white rounded-lg" %></a>
        <a class="text-indigo-500 inline-flex items-center ml-4">Learn More
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>